.header{
    
    min-height: 1000px;
    background-image: linear-gradient(0deg,rgba(251,227,137,0.9) ,rgba(243,129,129,0.9) ), url("../images/bg.jpg");
    background-size: cover;

    @media(min-resolution:192dpi){
        background-image: linear-gradient(0deg,rgba(251,227,137,0.9) ,rgba(243,129,129,0.9) ), url("../images/bg@2x.jpg");
        }
    &__navigation-pos{
        margin-bottom: 120px;
        padding-top: 20px;
    }
    &__title{
        width: 820px;
        font-size: 150px;
        line-height: 140px;
        color: #ffffff;
        font-family: "Montserrat";
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto;
        letter-spacing: -5.4px;
        margin-bottom: 112px;
    }
    &__pre-title{
        font-size: 72px;
        color: #ffffff;
        font-family: "Kaushan Script";
        font-weight: 400;
        text-align: center;
        display: block;
        text-transform: none;
        letter-spacing:0.2px;
        margin-bottom: 8px;
    }
}




.main-nav{
    display: flex;
    min-height:50px;
    justify-content:space-between;
    align-items: baseline;
    &__menu{
        display: flex;
        
    }
}

.logo{
    display:block;
    font-size: 30px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
}

.main-menu{
    display: flex;
    justify-content:space-between;
    width: 480px;
    margin-right: 50px;
    &__item{
        font-size: 14px;
        font-family: "Montserrat";
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 10px;
        border-bottom: 3px solid  rgba(252, 227, 138, 0);
        transition: border 0.2s linear ;
        &:hover{
            border-bottom: 3px solid  rgba(252, 227, 138, 1);
            
        }
    }
    &__link{
        text-decoration: none;
        color: #ffffff;
        &:hover{
            color: #fce38a;
        }
    }
}

.add-search-menu{
    display: flex;
    width: 80px;
    justify-content: space-between;
    &__item{
        width: 18px;
        height: 18px;
        fill: #ffffff;
        &:hover{
            fill:#fce38a;
            cursor: pointer;
        }
    } 
}

.button-cart{
    border: none;
    background: none;
}

.load-more{
    width: 160px;
    height: 40px;
    background-color: rgba(0,0,0,0);
    border: 3px solid #ffffff;
    display:  block;
    margin: 0 auto;
    font-size: 14px;
    color: #ffffff;
    font-family: "Montserrat";
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
        border: 3px solid #f38181;
        color: #f38181;
    }
}
