.team{
    padding-bottom:56px;
    &__description{
        width:980px;
        margin:0 auto;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        font-family: "Roboto";
        font-weight: 400;
        text-align: center;
        margin-bottom:74px;
    }
}

.team-list{
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content:space-between;
    &__photo{
        width:380px;
        height:470px;
        margin-bottom:30px;
    }
    &__item{
        position: relative;
        font-size: 14px;
        width:380px;
        color: #333333;
        font-family: "Montserrat";
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom:13px;
    }
    &__item-position{
        position:relative;
        font-size: 15px;
        line-height: 24px;
        color: #999999;
        font-family: "Roboto";
        font-weight: 300;
        font-style: italic;
        text-align: center;
    }
    &__overlay{
        position: absolute;
        width:380px;
        height:470px;
        /* background-color: #f38181; */
        left:0px;
        top:0px;
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        transition: all 0.2s linear;
        &_pavel{
            background-image: linear-gradient(rgba(243,129,129,0.9),rgba(251,227,137,0.9)), url("../img/team-pavel.png");
        }
        &_artem{
            background-image: linear-gradient(rgba(243,129,129,0.9),rgba(251,227,137,0.9)), url("../img/team-artem.png");
        }
        &_igor{
            background-image: linear-gradient(rgba(243,129,129,0.9),rgba(251,227,137,0.9)), url("../img/team-igor.png");
        }
        &:hover{
            left:-10px;
            top:-10px;
             box-shadow: 10px 10px 0 #95e1d3;
            opacity: 1;
        }
    }
}





.social-list{
    height: inherit;
    list-style-type: none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    justify-content: center;
    align-items: center;
    &__link{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 56px;
        height: 56px;
        background-color: #fce38a;
        margin-right: 1px;
        align-items: center;
        justify-content: center;
        transition: background-color 0.2s linear;
        &:hover{
            background-color: #f38181;
            fill:#fce38a;
            .social-list__icon{
                fill:#ffffff;
            }
        }
    }
    &__icon{
        width: 26px;
        height: 26px;
        fill:#f38181;
    }
}
